#guzesht,#pay,#repair,#preference{
	position: absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background:url('../images/slider/2.jpg');
	background-size:cover;
	z-index: 4;
}

#guzesht:before,#pay:before,#repair:before,#preference:before{
		content:"";
		position: absolute;
		left:0;
		height:100%;
		width:100%;
		background-color: rgba(0, 38, 51, 0.8);
		z-index: -1;
	}


h3{
	font-family: Proxima Nova;
	font-weight: bold;
}

.two,.three,.four{
	 margin-top: 15px;
     color: #fff;
     font-family: Proxima Nova;
     font-size: 18px;
     font-weight: bold;
     line-height: 1.39;
     list-style-type:none;
     text-align: left;
}
span{
	margin-left:10px;
	font-size:16px;


}
.three,.first,.text1{
	color: #e0d049 !important;
	font-family: Proxima Nova;
		font-weight: bold;
		line-height:30px;
	
	
}

.text{
	font-size: 12px;
	
}
.four{

border:2.5px dotted;
color: #e0d049;
padding:20px;
border-radius:5px;
width:364px;

}
.first{	
		list-style-type:none;
		text-align: left;

}

	.col-md-6{
		text-align: center;
		margin-top:80px;
	}



	.white{
		color:white !important;
	}
	.buttonbefore{
		padding:12px 13px 10px 12px;
		border-radius: 100px;
        background-color: #1a91ba;
        border: solid 3px #1a91ba;
        font-family: Proxima Nova;
  font-size: 18px;
  font-weight: bold;
   text-decoration: none;
  color: #ffffff;
	}
	



